
<div>

    <h2>Welcome to Moviefy</h2>
<p>A website for saving all of your favorite movies</p>

</div>

<style>
    div{
        display: flexbox;
        align-items: center;
        justify-content: center;
        margin-top: 280px;
        font-size: x-large;
    }
</style>
