<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art-api</title>
</head>
<body>
    <nav class="navbar">
        <ul>
            <!-- if the user is logged in... -->
            <!-- all data in the res.locals is usuable in the layout -->
            <% if (user) { %>
                <li>
                    <a href="/users/profile">Profile</a>
                </li>

                <li>
                    <a href = "/users/search">Search</a>
                </li>

                <li>
                    <a href="/users/logout">Logout</a>
                </li>
                <div class="search">
                    <a href="/users/name" class="name"><%- user.user_name %></a>
                </div>
            <% } else { %>
                <li>
                    <a href="/users/new">Sign Up</a>
                </li>
    
                <li>
                    <a href="/users/login">Login</a>
                </li>
            <% } %> 
        </ul>
    </nav>


    <%- body %>
</body>
</html>

<style>
    .navbar{
        background-color: black;
        border-radius: 30px;
        
    }
    .navbar ul{
        overflow: auto;
    }
    .navbar li{
        float:left;
        list-style: none; 
        margin: 13px 20px;
        
    }
    .navbar li a{
        padding: 3px 3px;
        text-decoration: none;
        color: white;
    }
    .navbar li a:hover{
        color: red
    }
    .search{
        float: right;
        color: white;
        padding: 12px 75px;
    }
    .navbar input{
        border: 2px solid black;
        border-radius: 14px;
        padding: 3px 17px;
        width: 129px;
    }
    body{
        background-color: bisque;
        text-align: center;
    }
    .name{
        color: aliceblue;
    }
</style>