<h1>change username: <%=user.user_name%></h1>

<form method="POST" action="/users/name/?_method=PUT">
    <lable for="user_name"></lable>
    <input type="text"  id="user_name" name="username"  placeholder="New Name Here" >
  
    <input type="submit" >
  </form>