<h1>change username: <%=user.user_name%></h1>

<form method="PUT" action="/users/name">
    <lable for="user_name"></lable>
    <input type="text"  id="user_name" name="user_name" placeholder="New Name Here" />
  
    <input type="submit" />
  </form>