<h1>Artify</h1>
<p>Search Up Some Art</p>

<form method="GET" action="/results">
  <lable for="search"></lable>
  <input type="text"  id="search" name="movieSearch" />

  <input type="submit" />
</form>