<h1>Moviefy</h1>
<p>Create A Saved List of Movies</p>

<form method="GET" action="/results">
  <lable for="search"></lable>
  <input type="text"  id="search" name="movieSearch" />

  <input type="submit" />
</form>